@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.FName</h1>
    <p>Here is a website all about Energy Drinks.</p>

    <table class="table table-bordered table-sm table-striped">

        <thead>
            <tr>

                <th>ID</th>
                <th>Manufacturer</th>
                <th>Name</th>
                <th>Flavor</th>
                <th>Size</th>
                <th>Price</th>
                <th>Release Date</th>
                <th>Active</th>

            </tr>
        </thead>

        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="7" class="text-center">No Model</td>
                </tr>
            }

            else
            {
                @foreach (var p in Model.Drinks)
                {
                    <tr>
                        <td>@p.Drink_ID</td>
                        <td>@p.Mfr</td>
                        <td>@p.Name</td>
                        <td>@p.Flavor</td>
                        <td>@p.Size oz</td>
                        <td>$@p.Price</td>
                        <td>@p.Release_Date.ToShortDateString()</td>

                        @{
                            if (p.Active == true)
                            {
                                <td>Active</td>
                            }
                            else
                            {
                                <td>Discontinued</td>
                            }
                        }

                    </tr>
                }
            }

        </tbody>

    </table>

</div>
